body {
	background-color: black;
	background-image: url("flowaxy.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
p {
	color: White;
}
h1 {
	text-align: center;
	color: white;
}
h2 {
	text-align: center;
	color: white;
}
a {
	color: white;
}
