body {
    background-color: black;
    background-image: url("flowaxy.png");
    display: flex;
    flex-direction: column;
}
p {
    color: White;
}
h1 {
    text-align: center;
    color: white;
}
